:markdown
  **Sapling** is an starter application for AngularJS apps.
  It goes beyond the basic setup to provide:

  * User models
  * Sessions
  * Account Management

  Try it out:

  [Create an Account](/signup)

  Check out the [Account](/account) section. 
