:markdown
  # sapling-aego
  ## Google App Engine Starter App That Uses Go / AngularJS / Brunch to Tame User Management and Other Mundane Tasks

  Client Features:
  * Coffeescrpt / Less / Sass / SCSS / Stylus automatically compiled on save
  * auto-reload during development saves you from manually refreshing the page
  * Javascript / CSS minification for production
  * [testacular](https://github.com/vojtajina/testacular) integration for
    unit tests
  * Bootstrap integration with themes.

  ## How to use sapling-aego

  * `git clone https://github.com/scotch/angular-brunch-seed.git` to clone the **angular-brunch-seed** repository
  * `cd angular-brunch-seed`
  * `git submodule init`
  * `git submodule update`
  * `cd client/`
  * `./scripts/init.sh` to install node packages
  * `./scripts/development.sh` to compile javascripts and css

  TODO added more...
