
<h3>About</h3><h1><strong>sapling-aego</strong></h1>

<h2><em><a href="http://github.com/scotch/sapling">Sapling</a> Backend Written in <a href="http://golang.org">Go</a> - Engineered to Run on <a href="https://developers.google.com/appengine/">Google App Engine</a></em></h2>

<h2>How to use sapling-aego</h2>

<ol><li><code>git clone https://github.com/scotch/sapling-aego.git</code> to clone the <strong>sapling-aego</strong> repository</li><li><code>cd sapling-aego</code></li><li><code>git submodule init</code></li><li><code>git submodule update</code></li><li><code>cd client/</code></li><li><code>./scripts/init.sh</code> to install node packages</li><li><code>./scripts/development.sh</code> to compile javascripts and css</li></ol>

<h4>Using Jade?</h4>

<ol><li><code>./scripts/compile-jade.sh</code> to run a jade watcher</li></ol>

<h4><strong>Or</strong> Using HTML?</h4>

<ol><li><code>./scripts/compile-html.sh</code> to compile html files in <code>app/assets</code></li></ol>

<h2>Tech</h2>

<ul><li><a href="http://angularjs.org">AngularJS</a></li><li><a href="http://brunch.io">Brunch</a></li><li><a href="http://golang.org">Go</a></li><li><a href="https://developers.google.com/appengine/">Google App Engine</a></li></ul>

<h2>Features</h2>

<h3>Client</h3>

<ul><li>Coffeescrpt / Less / Sass / SCSS / Stylus automatically compiled on save</li><li>auto-reload during development saves you from manually refreshing the page</li><li>Javascript / CSS minification for production</li><li><a href="https://github.com/vojtajina/testacular">testacular</a> integration for
unit tests</li><li>Bootstrap integration with themes.</li></ul>

<h3>Server</h3>

<ul><li>Go</li></ul>

<p>TODO added more...</p>