section#content(ng-controller="AccountConnectedCtrl")
  header
    h1#section-header Connected Accounts
  .row
    .span2
      div(ng-include="'/partials/account/nav.html'")
      &nbsp;
    section#section-content
      .span7
        .profiles(ng-repeat="p in AuthProfiles")
          h3
            img(ng-src="{{p.provider.url|iconify}}")
            {{p.provider.name}}
        dl
          dt Email
          dd {{p.email}}
        dl
          dt
      .well.span2
        h4 Connected Accounts
        ul.icons
          li
            i.icon-caret-right
            | Provides you with alternative login paths.
          li
            .icon-caret-right
            | Allows you to pre-populate forms.
          li
            i.icon-caret-right
            | Allows us to provide a tailored experience based on your interests and connections.
