section#content(ng-controller="AccountEmailCtrl")
  header
    h1#section-header Account Email
  .row
    .span2
      div(ng-include="'/partials/account/nav.html'")
      &nbsp;
    section#section-content
      .span7
        ul(ng-repeat="e in Emails")
          li
            h3 {{e.address}}
            p status {{e.status == 0}}
            input.btn(type="submit", ng-show="e.status == 0", ng-click="Verify(e)", value="Verify") Verify
            span.label.label-success(ng-show="e.status == 0") Default
            input.btn(type="submit", ng-click="Remove(e)", value="Remove") Remove
