
<ul class="nav pull-right">
  <li id="user-nav" class="dropdown"><span ng-hide="User.isAuthenticated()"><a ng-class="getClass('/login')" href="/login">Login</a> | <a ng-class="getClass('/signup')" href="/signup">Sign Up</a></span><span ng-show="User.isAuthenticated()"><a ng-class="getClass('/account')" href="/account/">Account</a> | <a href="/account/"><span ng-bind="User.formattedName()"></span></a>
      <ul ng-show="UserloggedIn" class="dropdown-menu">
        <li><a ng-class="getClass('/account')" href="/account/">Account</a></li>
        <li class="divider"></li>
        <li><a href="/account/logout">logout</a></li>
      </ul></span></li>
</ul>