ul.nav.pull-right
  li.dropdown#user-nav
    span(ng-hide='User.isAuthenticated()')
      a(ng-class="getClass('/login')", href='/login') Login
      |  | 
      a(ng-class="getClass('/signup')", href='/signup') Sign Up
    span(ng-show='User.isAuthenticated()')
      a(ng-class="getClass('/account')", href='/account/') Account
      |  | 
      a.dropdown-toggle(data-toggle='dropdown', href='/account/')
        b.caret
        span(ng-bind="User.formattedName()")
      ul.dropdown-menu(ng-show='UserloggedIn')
        li
          a(ng-class="getClass('/account')", href='/account/') Account
        li.divider
        li
          a(href='/account/logout') logout

