ul#account-nav.nav.nav-list
  li(ng-class="getClass('/account/overview')")
    a(ng-href="/account/overview")
      i.icon-th-list
      | Account
  li(ng-class="getClass('/account/profile')")
    a(ng-href="/account/profile")
      i.icon-user
      | Profile
  li(ng-class="getClass('/account/email')")
    a(ng-href="/account/email")
      i.icon-envelope
      | Email
  li(ng-class="getClass('/account/password')")
    a(ng-href="/account/password")
      i.icon-lock
      | Password
  li(ng-class="getClass('/account/connected')")
    a(ng-href="/account/connected")
      i.icon-retweet
      | Connected Accounts

