
<ul id="account-nav" class="nav nav-list">
  <li ng-class="getClass('/account/overview')"><a ng-href="/account/overview"><i class="icon-th-list"></i>Account</a></li>
  <li ng-class="getClass('/account/profile')"><a ng-href="/account/profile"><i class="icon-user"></i>Profile</a></li>
  <li ng-class="getClass('/account/email')"><a ng-href="/account/email"><i class="icon-envelope"></i>Email</a></li>
  <li ng-class="getClass('/account/password')"><a ng-href="/account/password"><i class="icon-lock"></i>Password</a></li>
  <li ng-class="getClass('/account/connected')"><a ng-href="/account/connected"><i class="icon-retweet"></i>Connected Accounts</a></li>
</ul>