section#content(ng-controller="AccountPasswordCtrl")
  header
    h1#section-header Account Password
  .row
    .span2
      div(ng-include="'/partials/account/nav.html'")
      &nbsp;
    section#section-content
      .span7
        .alert.alert-block.alert-error(ng-hide="IsSet")
          | You have not created a password yet. Create a password now
          | to ensures that you don't loss access to your account.
        form.form-horizontal(name="form", novalidate)
          fieldset
            .control-group
              label.control-label(for="email")
                strong Email
              .controls
                input(required ng-mouseleave="CheckEmail()", ng-model="User.email", type="email", id="email", name="email")
                span.help-inline(ng-show='form.email.$valid')
                  i.icon-ok
                p.help-block Setting a password requires a valid email address.
            .control-group(ng-hide="Password.isSet")
              label.control-label(for="current")
                strong Current Password
              .controls
                input(ng-model="Password.current", type="password", id="current")
                p.help-block
                  a(href="/account/recovery") Forgot your password?
            .control-group
              label.control-label(for="new")
                strong New Password
              .controls
                input(required pattern=".{4,31}", ng-model="Password.new", type="password", id="new")
            .form-actions
              input.btn.btn-success(type="submit", ng-click="ChangePassword(Password, User)", ng-disabled="form.$invalid || WaitText", value="{{WaitText || 'Submit'}}")
