
<section id="content" ng-controller="AccountPasswordCtrl">
  <header>
    <h1 id="section-header">Account Password</h1>
  </header>
  <div class="row">
    <div class="span2">
      <div ng-include="'/partials/account/nav.html'"></div>&nbsp;
    </div>
    <section id="section-content">
      <div class="span7">
        <div ng-hide="user.password.isSet" class="alert alert-block alert-error">
          You have not created a password yet. Create a password now
          to ensures that you don't loss access to your account.
        </div>
        <form name="form" novalidate="novalidate" class="form-horizontal">
          <fieldset>
            <div class="control-group">
              <label for="email" class="control-label"><strong>Email</strong></label>
              <div class="controls">
                <input required ng-model="user.email" type="email" id="email" name="email"/>
                <span ng-show="form.email.$valid" class="help-inline">
                  <i class="icon-ok"></i>
                </span>
                <p class="help-block">Setting a password requires a valid email address.</p>
              </div>
            </div>
            <div ng-show="user.password.isSet" class="control-group">
              <label for="current" class="control-label"><strong>Current Password</strong></label>
              <div class="controls">
                <input ng-model="user.password.current" type="password" id="current"/>
                <p class="help-block"><a href="/account/recovery">Forgot your password?</a></p>
              </div>
            </div>
            <div class="control-group">
              <label for="new" class="control-label"><strong>New Password</strong></label>
              <div class="controls">
                <input required pattern=".{4,31}" ng-model="user.password.new" type="password" id="new"/>
              </div>
            </div>
            <div class="form-actions">
              <input type="submit" ng-click="updateUser(user)" ng-disabled="form.$invalid || waitText" value="{{waitText || 'Submit'}}" class="btn btn-success"/>
            </div>
          </fieldset>
        </form>
      </div>
    </section>
  </div>
</section>