section#content(ng-controller="AccountProfileCtrl")
  header
    h1#section-header Account Profile
  .row
    .span2
      div(ng-include="'/partials/account/nav.html'")
      &nbsp;
    section#section-content
      .span7
        form.form-horizontal(name="form", novalidate)
          fieldset
            .control-group
              label.control-label(for="email")
                strong Name
              .controls
                input.input-small(required ng-model="User.name.givenName", placeholder="First", type="text", name="email")
                input.input-small(required ng-model="User.name.familyName", placeholder="Last", type="text", name="email")
            .control-group
              label.control-label(for="email")
                strong Email
              .controls
                input#email(required ng-model="User.email", type="email", name="email")
                span.help-inline(ng-hide='form.email.$invalid || EmailError')
                  i.icon-ok
            .form-actions
              input.btn.btn-success(type="submit", ng-click="UpdateUser(User)", ng-disabled="form.$invalid || WaitText", value="{{WaitText || 'Update'}}") 
