
<section ng-controller="AccountSignupCtrl">
  <div class="row">
    <div class="span3">&nbsp;</div>
    <div class="span4">
      <header>
        <h1>Sign Up</h1>
      </header>
      <form nonvalidate name="form" class="form">
        <div ng-show="FormErrors" class="alert alert-error">
          <ul>
            <li ng-repeat="err in ErrMsgs" ng-bind-html-unsafe="err"></li>
          </ul>
        </div>
        <fieldset>
          <div class="well">
            <div class="control-group">
              <label for="name.givenName" class="control-label"><strong>Name</strong></label>
              <div class="controls">
                <input required ng-model="user.name.givenName" placeholder="First" type="text" id="name.givenName" class="input-small"/>
                <input required ng-model="user.name.familyName" placeholder="Last" type="text" id="name.familyName" class="input-small"/>
              </div>
            </div>
            <div class="control-group">
              <label for="email" class="control-label"><strong>Email</strong></label>
              <div class="controls">
                <input id="email" required ng-model="user.email" type="email" name="email"/><span ng-hide="form.email.$invalid" class="help-inline"><i class="icon-ok"></i></span>
              </div>
            </div>
            <div class="control-group">
              <label for="password" class="control-label"><strong>Password</strong></label>
              <div class="controls">
                <input id="password" required pattern=".{4,31}" ng-model="user.password.new" type="password" name="password"/>
                <p class="help-block">Password must be between 4 - 31 characters</p>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <input type="submit" ng-click="createAccount(user)" ng-disabled="form.$invalid || WaitText" value="{{WaitText || 'Signup'}}" class="btn btn-success"/>
          </div>
          <div class="control-group">
            <div class="controls">
              <p><small><a href="/login">Already have an account?</a></small></p>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>